    <div class="register-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name" />
                <div *ngIf="registerForm!.controls['name'].touched && registerForm!.controls['name'].invalid" class="error">
                    <div *ngIf="registerForm!.controls['name'].errors?.['required']">Name is required.</div>
                </div>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" />
                <div *ngIf="registerForm!.controls['email'].touched && registerForm!.controls['email'].invalid" class="error">
                    <div *ngIf="registerForm!.controls['email'].errors?.['required']">Email is required.</div>
                    <div *ngIf="registerForm!.controls['email'].errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <div>
                <label for="phoneNo">phoneNo</label>
                <input type="phoneNo" id="phoneNo" formControlName="phoneNo" />
                <div *ngIf="registerForm!.controls['phoneNo'].touched && registerForm!.controls['phoneNo'].invalid" class="error">
                    <div *ngIf="registerForm!.controls['phoneNo'].errors?.['required']">phoneNo is required.</div>
                    <div *ngIf="registerForm!.controls['phoneNo'].errors?.['phoneNo']">Invalid phoneNo format.</div>
                </div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" />
                <div *ngIf="registerForm!.controls['password'].touched && registerForm!.controls['password'].invalid" class="error">
                    <div *ngIf="registerForm!.controls['password'].errors?.['required']">Password is required.</div>
                    <div *ngIf="registerForm!.controls['password'].errors?.['minlength']">Password must be at least 6 characters long.</div>
                </div>
            </div>
            <div>
                <label for="position">Position</label>
                <input type="text" id="position" formControlName="position" />
                <div *ngIf="registerForm!.controls['position'].touched && registerForm!.controls['position'].invalid" class="error">
                    <div *ngIf="registerForm!.controls['position'].errors?.['required']">Position is required.</div>
                </div>
            </div>
            <button type="submit" >Register</button>
            <div *ngIf="error" class="error">{{ error }}</div>
        </form>
    </div>
