<!-- employee.component.html -->
<div class="container">
    <h2>List of Employees</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" [routerLink]="['/employee', employee.id]">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.department }}</td>
          <!-- <td><a [routerLink]="['/employee', employee.id]">View Details</a></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  